
:root {
    --background-color: rgb(255, 255, 255);
}
a {
    display: inline-block;
    text-decoration: none;
    color: gray;
}
/* copied from Style Editor */
a:hover,
a:active {
    text-decoration:underline;
}
.material-icons {
    padding: 8px;
    border-radius: 50%;
}
.icons-r .material-icons:hover {
    background-color: rgb(214, 214, 214);
}
.icons-r {
    display: inline-block;
}
a.nav-l {
    /* copied from google page */
    margin-left: 15px;
    display:inline-block;
    padding: 5px;
    margin: 0 5px;
    
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background-color, white);
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222
}
h1 {
    color: rgb(7, 124, 23);
}
.navbar {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    background-color: var(--background-color, cadetblue);
    flex-shrink: 0;
    /* i dont get box-sizing and have to look it up */
    box-sizing: border-box;
}
.navbar .space {
    display: inline-block;
    flex-grow: 1;
    
}
.nav-right a {
    display: inline-block;
    padding: 5px;
}
.main {
    height: 100%;
}

header {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.google-text {
    padding: 25px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search i {
    position: relative;
    left: 40px;
    font-size: 20px;
}
.search input { 
    text-indent:40px;
    width: 484px;
    height: 45px;
    border-radius:25px;
    border: 1px solid rgb(182, 182, 182);
}
.search input:hover {
    box-shadow:0 3px 3px 3px rgba(0,0,0,.16);
    border: 1px solid white;
    
}
input {
    outline: none;
}


footer {
    width 100%;
    bottom: 0px;
}
footer .land {
    
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    background-color: #f2f2f2;;
    color: gray;
}
.terms {
    display: flex;
}
.terms a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f2f2f2;;
}
.space {
    display: inline-block;
    flex-grow: 1;
}