
:root {
    --background-color: rgb(255, 255, 255);
}
a {
    display: inline-block;
    text-decoration: none;
}
/* copied from Style Editor */
a:hover,
a:active {
    text-decoration:underline;
}


a.nav-l {
    /* copied from google page */
    margin-left: 15px;
    display:inline-block;
    padding: 5px;
    margin: 0 5px;
    
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--background-color, white);
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222
}
h1 {
    color: rgb(100, 120, 163);
}
.main {
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(222, 232, 242);
}
.navbar {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    background-color: cadetblue;
    flex-shrink: 0;
    /* i dont get box-sizing and have to look up */
    box-sizing: border-box;
}
.navbar .space {
    display: inline-block;
    flex-grow: 1;
    
}
.nav-right a {
    display: inline-block;
    padding-left: 15px;
}
